.app{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('/bd_01.jpeg'); */
    background-size: cover;
    background-position: center;
}